/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/

/*Pseudo-classes*/

/*Generics*/
body{
    background: linear-gradient(to bottom #009688 20% , #dbdbd3 80%);
}
main{
    border: dashed red 1px;
    width: calc(100% - 20%);
    height: 89vh;
    margin-top: 50px;
}
/*Utilties*/

/*USER SETTING*/
.user_box{
    width: 100%;
    height: 30%;
    border: solid orange 1px;
}
.contacts_box{
    width: 100%;
    height: 70%;
    border: solid black 1px;
    overflow: auto;
}