/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/

/*Pseudo-classes*/

/*Generics*/
body{
    background: linear-gradient(to bottom #009688 20% , #dbdbd3 80%);
}
/*Utilties*/